# requirements.txt
# Using the specific "legacy" versions we know work together.
speechbrain==0.5.15
torch==1.13.1
torchaudio==0.13.1
huggingface-hub>=0.10.0,<0.11.0
yt-dlp>=2023.7.6
moviepy>=1.0.3
streamlit>=1.20.0
